
@{
    ViewBag.Title = "Index";
}


<h2>Faculty  Indexx Function</h2>
<a href="/Faculty/Index"> Home Page </a> <br />
<a href="/Faculty/Details"> Details </a><br />
<a href="/Faculty/AboutUs"> About Us </a><br />
