<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        @helper MyListHelper(string[] any_str_array)
        {
            if (any_str_array.Length == 0)
            {
                <h4>No Data Exist</h4>
            }
            else
            {
                <ul>
                    @foreach (var item in any_str_array)
                    {
                        <li>
                            @item
                        </li>
                    }
                </ul>
                <ul>
                    @for (int i = 0; i < any_str_array.Length; i++)
                    {
                        <li>@any_str_array[i]</li>
                    }

                </ul>

            }

        }

    </div>
    <h3>
        Example 1
    </h3>
    @MyListHelper(new string[] { "English", "Maths", "Science", "SST" })

    <h3>
        Example 2
    </h3>
    @MyListHelper(new string[] { "Lilly", "Rose", "Sadabahar", "Sunflower" })

    <h3>
        Example 3
    </h3>
    @MyListHelper(new string[] {  })
</body>
</html>